/* Universal */
body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
}

/* Header */
header {
    display: flex;
    background-color: #000;
}

.logo {
    width: 25%;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav a {
    font-family: "Press Start 2P";
    text-decoration: none;
    color: #fff;
}

.realms {
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
    font-family: "Press Start 2P";

}

/* Main */
main {
    background-color: #fff;
}