/* Universal */
body, html {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-size: 16px;
    font-family: "Press Start 2P";
}

a {
    text-decoration: none;
}

/* Header */
header {
    display: flex;
    background-color: #000;
}

.logo {
    width: 25%;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav a {
    color: #fff;
    font-size: 1.5rem;
}

.realms {
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
}

.realms a {
    color: #fff;
}

/* Main */
main {
    width: 100%;
}

.splash {
    text-align: center;
    color: #fff;
}

.splash img {
    width: 100%;
    margin-bottom: 25px;
}

.splash-text {
    font-size: 2rem;
}

/* Divider */
.divider {
    background-color: #fff;
    width: 100%;
    height: 10px;
    margin: 50px 0;
}

/* About */
#about h1 {
    color: #fff;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
}

.about-content p {
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 0 10%;
}

/* Events */
#events {
    position: relative;
}

#events h1 {
    color: #fff;
    text-align: center;
}

.events-content img {
    width: 100%;
    margin-bottom: 25px;
}

.events-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.monday, .maybe {
    color: #fff;
    width: 32%;
    text-align: center;
}

.monday h2, .maybe h2 {
    font-size: 2rem
}

/* Gallery */
#gallery {
    margin-bottom: 50px;
}

#gallery h1 {
    color: #fff;
    text-align: center;
}

.gallery-pics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.gallery-pics img {
    width: 30%;
    margin: 25px 0;
}

/* Contact */
#contact {
    text-align: center;
    background-color: #fff;
    padding: 50px 0;
}

.contact-content {
    display: flex;
    justify-content: space-around;
}

.contact-content img {
    height: 50px;
    width: 50px;
}

.marco-links, .kyri-links {
    margin: 10px 0;
}

@media only screen and (max-width: 430px) {
    .logo {
        width: 0;
    }

    .logo img {
        display: none;
    }

    nav {
        width: 100%;
    }

    header {
        display: flex;
        justify-content: center;
        margin: 25px 0;
    }

    .realms {
        display: none;
    }

    #events {
        position: static;
    }

    .events-content {
        display: flex;
        flex-direction: column;
    }

    .events-text {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .monday, .maybe {
        width: 100%;
    }

    .gallery-pics {
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
    }

    .gallery-pics img {
        width: 75%;
        margin: 5px;
    }
}